.sec-avaliacoes__card-img--1 {
  background-image: url(../images/car-front.jpg);
}

.sec-avaliacoes__card-img--2 {
  background-image: url(../images/car-lights.jpg);
}

.sec-avaliacoes__card-img--3 {
  background-image: url(../images/car-velox.jpg);
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../font/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../font/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #55606d;
  font-family: 'Lato-Regular';
}

.card {
  border: 1px solid whitesmoke;
}

.bg-gradient-primary {
  background: #4c4c4c;
}

.btn-warning {
  color: #4c4c4c;
  background-color: #ffbf32;
  border-color: #ffbf32;
}

.btn-warning:hover {
  background-color: #fcb71f;
  border-color: #fcb71f;
}

.text-warning {
  color: #ffbf32;
}

.form-control:focus {
  color: #55606d;
  background-color: white;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075), 0 0 20px rgba(102, 104, 112, 0.1);
          box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075), 0 0 20px rgba(102, 104, 112, 0.1);
}

.lead p {
  margin-bottom: 0;
}

.navbar-border.navbar-dark.sticky {
  border-bottom: 1px solid rgba(25, 29, 44, 0.35);
}

body {
  font-family: 'Lato-Light';
}

.navbar-dark .navbar-toggler-icon {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.navbar-expand-lg .navbar-brand img {
  height: 2.7rem;
}

@media (max-width: 576px) {
  .slice-lg {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}

.bg-dark {
  background: rgba(22, 28, 36, 0.7);
}

.navbar-border.navbar-dark.sticky {
  border-bottom: 1px solid rgba(25, 29, 44, 0.35);
}

.icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.lh-80 {
  line-height: 0.8rem;
}

.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
}

.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
}

#sec-header .logo {
  max-height: 25px;
}

#sec-card .nav-tabs {
  border: 0;
}

#sec-card .nav-item {
  margin: 0 .2rem;
}

#sec-card .sec-card__icon-bottom i {
  font-size: 1.5rem;
  border-radius: 20%;
  padding: 8px;
  color: #7b7b7b;
}

#sec-card .nav-link {
  padding: 7px 0;
}

#sec-card .nav-link.active {
  border: 0;
}

#sec-card .nav-link.active i {
  background: rgba(85, 96, 109, 0.1);
  color: #7b7b7b;
}

#sec-card .sec-card__icon-top i {
  font-size: 5rem;
}

#sec-tabela {
  font-weight: 100;
}

#sec-tabela p.title {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 0;
}

#sec-tabela i {
  border: 1px solid #7b7b7b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #sec-tabela i {
    border: 0 solid #7b7b7b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

#sec-tabela .icon:before {
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

#sec-valor .icon:before, #sec-consultas .icon:before {
  font-size: 5.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

#sec-avaliacoes .sec-avaliacoes__card-img {
  background-size: cover;
  background-position: right 45%;
  height: 145px;
}

.glide__slide:not(.glide__slide--active) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.glide__slide--active {
  -webkit-transition: scale 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
  transition: scale 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
  /*transition: scale .8s cubic-bezier(0.18, 0.89, 0.32, 1.28) .8s*/
}

.glide:after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 10%;
  content: '';
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #fff), color-stop(60%, #fff0));
  background-image: linear-gradient(to right, #fff 10%, #fff0 60%);
}

.glide:before {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 10%;
  content: '';
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #fff0), color-stop(60%, #fff));
  background-image: linear-gradient(to right, #fff0 10%, #fff 60%);
  z-index: 1;
}

@media (max-width: 576px) {
  .glide::after, .glide::before {
    width: 0;
    content: none;
  }
  .glide .glide__slide--active, .glide .glide__slide:not(.glide__slide--active) {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.glide__arrows {
  z-index: 2;
}

.glide__arrow--right {
  right: 0;
}

.glide i.icon {
  font-size: 3rem;
}

.glide button.glide__arrow {
  background: 0;
  border: 0;
  position: absolute;
  height: 100%;
  top: 0;
  color: #55606d;
  text-shadow: 0px 2px 6px rgba(85, 96, 109, 0.2);
}

#sec-consultas .card {
  min-height: 343px;
}

@media (max-width: 576px) {
  #sec-consultas .card {
    min-height: auto;
  }
}

#sec-sobre {
  padding-bottom: 0;
}

#sec-sobre .sec-sobre__logo {
  -webkit-filter: contrast(0) opacity(0.3);
          filter: contrast(0) opacity(0.3);
  height: 85px;
}
/*# sourceMappingURL=auto-price.css.map */