$black-one: rgba(85, 96, 109, 1)
$black-two: rgba(76, 76, 76, 1)
$white-one:  rgb(245, 245, 245)
$color-one: rgb(255, 191, 50)
$color-two: rgb(252, 183, 31)
$transparent-one: rgba(25, 29, 44, 0.35)
$transparent-two: rgba(85, 96, 109, 0.1)

$text-color: #7b7b7b
$dark-transparent: rgba(22, 28, 36, 0.7)

@mixin font-face($name, $file)
    @font-face
        font-family: '#{$name}'
        src: url('../font/#{$file}.ttf')
        font-weight: normal
        font-style: normal

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px
// Small tablets (portrait view)
$screen-md-min: 768px
// Tablets and small desktops
$screen-lg-min: 992px
// Large tablets and desktops
$screen-xl-min: 1200px

// Small devices
@mixin sm
   @media (max-width: #{$screen-sm-min})
       @content
// Medium devices
@mixin md
   @media (max-width: #{$screen-md-min})
       @content
// Large devices
@mixin lg
   @media (max-width: #{$screen-lg-min})
       @content
// Extra large devices
@mixin xl
   @media (max-width: #{$screen-xl-min})
       @content

$imgs: ("img--1": "car-front.jpg", "img--2": "car-lights.jpg", "img--3": "car-velox.jpg")

@mixin round($border, $size, $color)
    border: $border solid $color
    width: $size
    height: $size
    border-radius: 50%
@mixin size($width, $height)
    width: $width
    height: $height

@each $images, $imgName in $imgs
    .sec-avaliacoes__card-#{$images}
        background-image: url(../images/#{$imgName})

@include font-face(Lato-Regular, Lato-Regular)
@include font-face(Lato-Light, Lato-Light)
@include font-face(Lato-Bold, Lato-Bold)

// SET COLOR CHANGES
body,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    color: $black-one
    font-family: 'Lato-Regular'
.card
    border: 1px solid $white-one
.bg-gradient-primary
    background: $black-two
.btn-warning
    color: $black-two
    background-color: $color-one
    border-color: $color-one
    &:hover
        background-color: $color-two
        border-color: $color-two
.text-warning
    color: $color-one
.form-control
    &:focus
        color: $black-one
        background-color: white
        border-color: transparent
        outline: 0
        box-shadow: inset 0 1px 1px rgba(31, 45, 61, .075), 0 0 20px rgba(102, 104, 112, 0.1)
.lead
    p
        margin-bottom: 0
.navbar-border.navbar-dark.sticky
    border-bottom: 1px solid $transparent-one

body
    font-family: 'Lato-Light'

.navbar-dark .navbar-toggler-icon
    top: 0
    bottom: 0
    margin: auto 0
.navbar-expand-lg .navbar-brand img
    @include lg
    height: 2.7rem

.slice-lg
    @include sm
        padding-top: 4rem
        padding-bottom: 3rem

.bg-dark
    background: $dark-transparent

.navbar-border.navbar-dark.sticky
    border-bottom: 1px solid rgba(25, 29, 44, 0.35)

.icon
    -webkit-font-smoothing: antialiased
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    line-height: 1

.lh-80
    line-height: 0.8rem

.slider__arrows-item
  position: absolute
  display: block
  margin-bottom: -20px
  padding: 20px
.slider__arrows-item--right
  bottom: 50%
  right: 30px
.slider__arrows-item--left 
  bottom: 50%
  left: 30px

#sec-header
    .logo
        max-height: 25px

#sec-card
    .nav-tabs
        border: 0
    .nav-item
        &:first-child, &:last-child
        margin: 0 .2rem
    .sec-card__icon-bottom
        i
            font-size: 1.5rem
            border-radius: 20%
            padding: 8px
            color: $text-color
    .nav-link
        padding: 7px 0
        &.active
            border: 0
            i
                background: $transparent-two
                color: $text-color
    .sec-card__icon-top i
        font-size: 5rem

    // .sec-card__top-icon
    //     i
    //         border: 1px solid #55606d
    //         font-size: 4rem
    //         padding: 30px
    //         border-radius: 50%
    // .sec-card__bottom-icons
    //     i
    //         border: 1px solid #55606d
    //         border-radius: 50%
    //         padding: 8px
    //         margin: 0 10px 10px
    //         &:hover
    //             background: #55606d
    //             color: #f0f0f0

#sec-tabela
    font-weight: 100
    p.title
        font-size: x-large
        font-weight: 600
        margin-bottom: 0
    i
        @include round(1px, 50px, $text-color)
        @include md
            @include round(0, 40px, $text-color)
    .icon:before
        font-size: x-large
        display: flex
        align-items: center
        justify-content: center
        min-height: 100%

#sec-valor, #sec-consultas
    .icon:before
        font-size: 5.7rem
        display: flex
        align-items: center
        justify-content: center
        min-height: 100%

#sec-avaliacoes
    .sec-avaliacoes__card-img
        background-size: cover
        background-position: right 45%
        height: 145px
    .sec-avaliacoes__card-text
        // min-height: 60px

.glide__slide:not(.glide__slide--active)
    transform: scale(.9)

.glide__slide--active
    transition: scale .8s cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s
    /*transition: scale .8s cubic-bezier(0.18, 0.89, 0.32, 1.28) .8s*/

.glide
    &:after
        position: absolute
        top: 0
        left: 0
        right: auto
        bottom: 0
        width: 10%
        content: ''
        display: block
        background-image: linear-gradient(to right, #fff 10%, #fff0 60%)
    &:before
        position: absolute
        top: 0
        left: auto
        right: 0
        bottom: 0
        width: 10%
        content: ''
        display: block
        background-image: linear-gradient(to right, #fff0 10%, #fff 60%)
        z-index: 1
    @include sm
        &::after, &::before
            width: 0
            content: none
        .glide__slide--active, .glide__slide:not(.glide__slide--active)
            transform: scale(.95)
    &__arrows
        z-index: 2
    &__arrow--right
        right: 0
    i
        &.icon
            font-size: 3rem
    button
        &.glide__arrow
            background: 0
            border: 0
            position: absolute
            height: 100%
            top: 0
            color: #55606d
            text-shadow: 0px 2px 6px rgba(85, 96, 109, .2)

#sec-consultas
    .card
        min-height: 343px
        @include sm
            min-height: auto

#sec-sobre
    padding-bottom: 0
    .sec-sobre__logo
        filter: contrast(0) opacity(0.3)
        height: 85px
   
// .glide__arrows
//     z-index: 2

// button.glide__arrow
//     background: 0
//     border: 0
//     position: absolute
//     height: 100%
//     top: 0
//     color: #55606d
//     text-shadow: 0px 2px 6px rgba(85, 96, 109, .2)

// .glide__arrow--right
//     right: 0

// .glide i.icon
//     font-size: 3rem