@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74967181');
  src: url('../font/fontello.eot?74967181#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74967181') format('woff2'),
       url('../font/fontello.woff?74967181') format('woff'),
       url('../font/fontello.ttf?74967181') format('truetype'),
       url('../font/fontello.svg?74967181#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74967181#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  /* display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center; */
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-copyright:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-deal:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-paint:before { content: '\e804'; } /* '' */
.icon-placeholder:before { content: '\e805'; } /* '' */
.icon-plus-s:before { content: '\e806'; } /* '' */
.icon-positive:before { content: '\e807'; } /* '' */
.icon-shout:before { content: '\e808'; } /* '' */
.icon-like:before { content: '\e809'; } /* '' */
.icon-car:before { content: '\e80a'; } /* '' */
.icon-newspaper:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-add:before { content: '\e80d'; } /* '' */
.icon-loan:before { content: '\e80e'; } /* '' */
.icon-document:before { content: '\e80f'; } /* '' */
.icon-employee:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-brokerage:before { content: '\e812'; } /* '' */
.icon-bank:before { content: '\e813'; } /* '' */
.icon-dealer:before { content: '\e814'; } /* '' */
.icon-sale:before { content: '\e815'; } /* '' */
.icon-right:before { content: '\e816'; } /* '' */
.icon-next:before { content: '\e817'; } /* '' */